body {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: italic;
}



.green {
  background-color: rgb(145, 229, 145);
  border: 3px solid green;
  color: green
}

.green:hover {
  background-color: green;
  color: rgb(145, 229, 145);
}

.red {
  background-color: rgb(223, 111, 111);
  border: 3px solid red;
  color: red
}

.red:hover {
  background-color: red;
  color: rgb(223, 111, 111);
}